*{
    text-align: center;
    font-size: 50px;
}
.b1{
    border: solid 10px gray ;
    border-radius: 100px;
    padding: 10px;
}
.b2{
    border-top: solid 10px red;
    border-bottom: solid 10px red;
    border-radius: 100px;
    padding: 10px;
}
.b3{
    border-left: solid 10px blue;
    border-right: solid 10px blue;
    border-radius: 100px;
    padding: 10px;
}
.b4{
    border: 10px purple;
    /* Top / Right / Bottom / Left */
    border-style: solid dashed double groove;
    padding: 10px;
    border-radius: 100px;
}
.b5{
    border: 10px yellow;
    /* Top / Righ & Left / Bottom*/
    border-style: solid dashed groove;
    padding: 10px;
    border-radius: 100px;
}
.b6{
    border: 10px cyan;
    /* Top & Bottom / Righ & Left*/
    border-style: dashed groove;
    padding: 10px;
    border-radius: 100px;
}
.b12{
    border-width: 20px 60px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
}